.links-h {
    padding: 6px;
}

.links-info::before {
    content: "\eb89";
    display: inline-block;
    padding-right: 2px;
    font-family: "iconfont" !important;
}

.links-reashal::before {
    content: "\e6b2";
    display: inline-block;
    padding-right: 2px;
    font-family: "iconfont" !important;
}

.links-friends::before {
    content: "\e726";
    display: inline-block;
    padding-right: 2px;
    font-family: "iconfont" !important;
}

.links-webs::before {
    content: "\e852";
    display: inline-block;
    padding-right: 2px;
    font-family: "iconfont" !important;
}

.links-p {
    padding: 6px;
}

.links-body {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    width: 100%;
    gap: 12px;
}

.links-single {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row nowrap;
    flex: 1 1 auto;
    padding: 8px;
    margin-right: auto;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
    border-radius: 8px;
}

.link-avatar {
    display: inline-block;
    margin-right: 4px;
    z-index: 3;
}

.link-avatar img {
    width: 64px;
    height: 64px;
    border-radius: 6px;
    user-select: none;
}

.link-info {
    display: inline-block;
}

.link-info h3 {
    color: #ec6fa3;
    font-size: 1.2rem;
}

.link-info p {
    color: #000;
    font-size: 1rem;
    font-weight: normal;
}

.aside-links a.icon-plane {
    color: #db6220 !important;
    background-color: #007175 !important;
}

/* ============================================ */
/* === 暗黑模式 === */
/* ============================================ */

/* 分组标题 */
.dark .links-info,
.dark .links-reashal,
.dark .links-friends,
.dark .links-webs {
    color: #fcfdfb;
}

/* 友链卡片阴影 */
.dark .links-single {
    box-shadow: rgba(142, 208, 220, .4) 0px 0px 8px !important;
}