.moments {
    max-width: 800px;
}

.moments h1 {
    display: none;
}

.moments h2::before {
    content: '';
    display: inline-block;
    background: url('/static/images/reashal.png');
    background-color: rgb(250,216,200);
    background-size: 100% 100%;
    width: 2.6rem;
    height: 2.6rem;
    margin-left: .2rem;
    margin-right: .2rem;
    border-radius: 50%;
}

.moments h2::after {
    content: '睿屿青衫';
    display: block;
    margin-top: -3rem;
    margin-left: 3rem;
    font-size: 1rem;
    font-weight: bold;
    color: rgb(87, 107, 149);
}

.moments h2 {
    overflow: visible;
    border: none;
    height: 3.6rem;
    padding-top: .6rem;
    margin-top: .8rem;
    font-size: .8rem;
    font-weight: normal;
    color: #b2b2b2;
    border-top: .1rem rgb(242, 242, 242) solid;
    user-select: none;
}

.moments h2:first-of-type {
    margin-top: -.8rem;
    border-top: none;
}

.moments p {
    max-width: 100%;
    padding-top: .4rem;
    font-size: 1rem;
    line-height: 1.4rem;
    white-space: pre-wrap;
}

/* 日期、点赞、评论都以引用的形式出现 */
.moments blockquote {
    max-width: 100%;
    margin-top: .4rem;
}

/* 每块内容都被P包裹 */
.moments blockquote p {
    padding: 0;
    margin-bottom: 0;
    color: rgb(178, 178, 178);
}

/* 发表日期 */
.moments blockquote p:first-of-type {
    font-size: .8rem;
    line-height: .8rem;
}

/* 地址信息 */
.moments p code {
    padding: 0;
    font-size: .8rem;
    line-height: .8rem;
    color: rgb(87, 107, 149);
}

/* 点赞信息 */
.moments blockquote p code::before {
    content: "\e707";
    display: inline-block;
    padding-left: .6rem;
    padding-right: .2rem;
    font-family: "iconfont" !important;
}

.moments blockquote p code {
    display: block;
    padding: .3rem 0;
    width: 100%;
    font-size: .8rem;
    line-height: .8rem !important;
    color: rgb(87, 107, 149);
    background-color: #f7f7f7 !important;
    border-radius: .2rem .2rem 0 0;
    border-bottom: .1rem rgb(242, 242, 242) solid;
    font-weight: bold;
}

/* 评论区 */
.moments blockquote pre {
    padding: .3rem .6rem;
    border-radius: 0 0 .2rem .2rem;
    background-color: #f7f7f7 !important;
    white-space: pre-wrap;
}

.moments span.line::before {
    content: '睿屿青衫:';
    display: inline-block;
    margin-right: .16rem;
    font-weight: bold;
    color: rgb(87, 107, 149);
}

.moments span.line {
    font-size: .8rem;
    line-height: 1.2rem;
    color: #000;
}

/* 一些杂项 */
.moments img {
    width: auto;
    height: auto;
    max-width: min(100%, 240px);
    max-height: 260px;
}

.moments .p-has-img img {
    max-width: 160px;
    max-height: 160px;
}

.moments .p-has-img {
    width: 333px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    grid-gap: 10px;
    overflow: hidden;
}

.moments .p-has-img img {
    display: inline-block;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.moments a {
    color: #000;
}

.moments a:hover {
    color: #000;
}

.aside-links a.icon-Home {
    color: #db6220 !important;
    background-color: #007175 !important;
}